body {
	margin: 0px;
	padding: 0px;
}
header {
	margin: 0px;
	padding: 0px;
	background-color: #0A0E29;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}
nav {
	margin: 0px;
	padding: 0px;
}
nav a {
	margin: 0px 20px;
	color: #ffffff !important;
}
nav a:hover {
	color: #DBB13B !important;
}
.logo {
	border-radius: 50%;
}
footer a {
	text-decoration: none;
	color: #E5E5E5;
}
footer a:hover {
	text-decoration: none;
	color: #DBB13B;
}
footer {
	font-family: Roboto;
}
@media screen and (max-width: 1120px) {
	nav a {
		margin: 0px 12px;
	}
}
@media screen and (max-width: 980px) {
    .socials {
        margin-left: 25%;
        align-items: center;
    }
}
@media screen and (max-width:1200px) {
    .isteImage {
        margin-bottom: 55%;
    }
}
